body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header, footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}
nav {
  background-color: #444;
  color: #fff;
  padding: 20px;
 
}
main {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  width: 80%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}