.header{
  background-color: brown;
  color: white;
  text-align: center;
  padding: 30px;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI';
}
.nav {
  width: 100%;
  background-color: #1A237E;
  display: flex;
  align-items: center;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 22px;
  color: #fff;
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}
.nav > #nav-check {
    display: none;
}
@media (max-width: 480px) {
  .nav {
    padding: 1rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #1A237E;
    height: 0;
    transition: all 0.3s ease-in;
    top: 40px;
    left: 0;
    overflow: hidden;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}


@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
background: #c0c0c0; 
font-family: Raleway, sans-serif;
color: #666;
}

.login {
margin: 20px auto;
padding: 40px 50px;
max-width: 600px;
border-radius: 5px;
background: #fff;
box-shadow: 1px 1px 1px #666;
}
.login input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px; 
  font-family: Raleway, sans-serif;
}

.login input[type=text],
.login input[type=password] {
border: 1px solid #c0c0c0;
transition: .2s;
}

.login input[type=text]:hover {
border-color: #F44336;
outline: none;
transition: all .2s ease-in-out;
} 

.login input[type=submit] {
border: none;
background: #EF5350;
color: white;
font-weight: bold;  
transition: 0.2s;
margin: 20px 0px;
}

.login input[type=submit]:hover {
background: #F44336;  
}

.login h2 {
  margin: 20px 0 0; 
  color: #EF5350;
  font-size: 28px;
}

.login p {
margin-bottom: 40px;
}

.links {
display: table;
width: 100%;  
box-sizing: border-box;
border-top: 1px solid #c0c0c0;
margin-bottom: 10px;
}

.links a {
display: table-cell;
padding-top: 10px;
}

.links a:first-child {
text-align: left;
}

.links a:last-child {
text-align: right;
}

.login h2,
.login p,
.login a {
  text-align: center;    
}

.login a {
text-decoration: none;  
font-size: .8em;
}

.login a:visited {
color: inherit;
}

.login a:hover {
text-decoration: underline;
}

.footer{
  background-color: brown;
  color: white;
  text-align: center;
  padding: 20px;
}